.container{
    min-height: 700px;
    margin: auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .title{
    color: white;
    font-size: 80px;
    font-weight: 500;

  }

  .textContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .desc{
    font-size: clamp(1.5rem, 1.5vw, 30px);
    font-weight: 300;
    max-width: 450px;
    text-align: center;
  }

