.container{
    min-height: 700px;
    margin: auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .title{
    font-size: clamp(4rem, 10vw, 7rem);
    font-weight: 400;
  }

  .textContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .desc{
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    max-width: 550px;
    text-align: center;
  }


