.container {
    font-weight: 400;
    text-align: center;
    text-transform: lowercase;
    color: var(--brandPurple);
    padding-right: 20px;
}

.container:hover{
    font-weight: 600;
}


.active {
    border-radius: 30px;
    font-weight: 700;
}