/* src/components/homepage/signup/signup.module.css */
.container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically for mobile */
  padding: 30px;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-image: url('../../../../public/signup2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Apply specific styles */
.header {
  font-size: 36px;
  font-weight: 800;
  color: white;
  max-width: 90%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.signupButton {
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #FF5C8D; /* Bubblegum Pink */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 200px;
  text-align: center;
}

.signupButton:hover {
  background-color: #ff3c70; /* Darker pink on hover */
  transform: scale(1.05);
}

.signupButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 92, 141, 0.5); /* Focus state */
}
