.container {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  outline: 2px solid black;
  height: 500px;
  padding: 100px;
  border-radius: 20px;
  gap: 80px;
  max-width: 1300px;
  background-color: white;

}

.wordContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 4.4em;
  overflow-y: hidden;
  width: 60vw;
}

.word{
  display: flex;
  flex-wrap: wrap;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wpm {
 
}


.dashboard{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 18px;
    gap: 30px;
    color: var(--dashboard);
    border-radius: 10px; 
    padding: 10px;
    margin-bottom: 80px;
    text-transform: uppercase;

}


.wpmtime{
    color: #939393;
    display: flex;
    align-items: start;
    min-width: 2px;
    font-size: 28px;
    gap: 20px;
}

/* WordDisplay.module.css */

.scorecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 30px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  gap: 20px;
}
.restartbtn {
  display: flex;
  padding: 5px;
  gap: 10px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--primaryPink);
}

.difficultybtn{
  display: flex;
  padding: 5px;
  gap: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  color: white;
  text-transform: lowercase;
  font-weight: 800;
  background-color: var(--primaryPurple)
}

.timerbtn{
  display: flex;
  padding: 5px;
  gap: 10px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  color: white;
  text-transform: lowercase;
  font-weight: 800;
  background-color: var(--primaryOrange)
}

.skeleton{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 72.53vw;
  border-radius: 10px;
  font-size: 20px;
  color: var(--lightBlue);
}

.dtbtn {
  display: flex;
  gap: 20px;
}