.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wordContainer {
  max-width: 1000px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 4.85em;
  overflow-y: hidden;
  user-select: none;

}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wpm {
  font-size: 34px;
  color: #8fa38f;
}

/* WordDisplay.module.css */