.container {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.wordContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 3.1em;
  overflow-y: hidden;
}

.word{
  display: flex;
  flex-wrap: wrap;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wpm {
 
}


.dashboard{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 18px;
    gap: 30px;
    color: var(--dashboard);
    border-radius: 10px; 
    padding: 10px;
    margin-bottom: 80px;
    text-transform: uppercase;

}


.wpmtime{
    color: white;
    display: flex;
    align-items: start;
    min-width: 2px;
    font-size: 28px;
    gap: 20px;
}

/* WordDisplay.module.css */

.scorecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 30px;
}

.restartbtn {
  display: flex;
  padding: 5px;
  gap: 10px;
  background-color: #ffffff44;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin-top: 80px;
  color: white;
}

.skeleton{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 72.53vw;
  border-radius: 10px;
  font-size: 20px;
  color: var(--lightBlue);
}