@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: white;
  --text: #434343;
  --primary: #B7C9F2;
  --textPrimary: #b5b0ff;
}

body {
  color: var(--text);
  min-height: 90vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor {
    border-right: 2px solid black;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .navbar {
    margin: auto;
    max-width: 1600px;
    padding-left: 30px;
    padding-right: 30px;
  }
