@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: white;
  --text: #1B1A55;
  --primary: #B7C9F2;
}

body {
  /* background-color: var(--bg); */
  color: var(--text)
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor {
    border-right: 2px solid black;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }

  .container {
    /* background-color: aliceblue; */
    max-width: 1300px;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
  }

  .navbar {
    margin: auto;
    max-width: 1500px;
    padding-left: 30px;
    padding-right: 30px;
  }
