@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: white;
  --text: #434343;
  --lightBlue: #9BC7E0;
  --darkBlue: #1D4E6B;
  --greyText: #E7E7E7;
  --neonSalmon: #FF6F61;
  --darkPink: #5A3566;
  --activeLink: #e7e7e74c;
  --primaryYellow: #FFD000;
  --lavendar: #D3CCFF;
  --purple: #003D8A;
  --darkEmerald: #014850;
  --bmoGreen: #53CCB1;
  --orange: #FF8940;
  --bubblegum: #FA94FF;
  --themeBlue: #2DA8EE;
  --themePurple: #5958DE;
  
  --primaryPink: #FD9C9E;
  --primaryOrange: #FECE96;
  --pastelBlue: #D0E8F7;
  --pastelYellow: #FCFFA7;
  --pastelTurquoise: #DFEEEB;
  --primaryPurple: #c3c5fd;

  --brandPurple: #9c9ffd;
  --beige: #fff1e1;
  --primaryYellow: #ffd200;
  --blushPink: #fecddc;

}


[data-theme='blue'] {
  --dashboard: var(--lightBlue);
  /* --navbar: #112E42; */
  --primaryBtn: var(--bmoGreen);

}

[data-theme='pink'] {
  --dashboard: var(--neonSalmon);
  --navbar: var(--darkPink);
  --primaryBtn: var(--primaryYellow);

}

[data-theme='green'] {
  --dashboard: var(--bmoGreen);
  --navbar: var(--darkEmerald);
  --primaryBtn: var(--orange);
}

[data-theme='purple'] {
  --dashboard: var(--lavendar);
  --navbar: var(--purple);
  --primaryBtn: var(--bubblegum);

}


a {
  text-decoration: none;
  color: inherit;
}

.cursor {
  border-right: 3px solid var(--primaryPurple);
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
}

.cursor.stopped {
  animation: none; /* Stops the blinking animation */
}

 
main{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}
