.container{
    /* background-color: #e7e6ff; */
    display: flex;
    height: 600px;
  }

  .title{
    color: #b5b0ff;
    font-size: clamp(3rem, 4vw, 70px);
    font-weight: 700;

  }

  .imgContainer{
    flex: 1;
    position: relative;
  }

  .textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .desc{
    font-size: clamp(1rem, 1.5vw, 30px);
    font-weight: 200;
  }

  .btn{
    gap: 20px;
    background-color: #6D63FE;
    color: white;
    
  }

  @media (max-width: 1024px) {
    .container {
      flex-direction: column-reverse;
    }
    /* .imgContainer {
      display: none;
    } */
    .title, .desc {
      text-align: center;
    }

    .textContainer {
      align-items: center;
    }
  }