.container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid #f3f3f3;
    padding-left: 20px;
    padding-right: 20px;
}


.logo {
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
}