.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #112E42;
}

.logo {
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    width: 10px;
}