.container {
    margin-top: 30px;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    outline: 3px solid var(--text);
    background-color: white;
}

.logo {
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
}