.container{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  /* position: relative;  */
  /* background: linear-gradient(to right, var(--primaryPurple), var(--primaryPink)); */
  gap: 60px;
  min-height: 600px;
  background-color: var(--brandPurple);
}

.centeredImage {
  position: absolute; /* Position the image absolutely */
  top: 30%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to be exactly in the center */
}

  .title{
    font-size: clamp(4.5rem, 5vw, 3rem);
    font-weight: 800;
    color: var(--beige);
    text-transform: uppercase;
    text-align: center;
    max-width: 400px;
    line-height: .9;
    text-shadow: 
    -1.2px -1.2px 0 #000,  
     1.2px -1.2px 0 #000,
    -1.2px  1.2px 0 #000,
     1.2px  1.2px 0 #000;
     

    /* transform: skewX(-8deg);
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; */
  }

  .desc{
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    max-width: 550px;
    text-align: center;
  }
  

/* CSS */
.btn{
  background-color: var(--blushPink);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.3rem;
  font-weight:700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.25rem;
  padding: 1.8rem 4rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgb(249,250,251);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: none;
}