.container{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  /* position: relative;  */
  /* background: linear-gradient(to right, var(--primaryPurple), var(--primaryPink)); */
  gap: 60px;
  min-height: 500px;
  background-image: url('../../../../public/pattern.png');
}

  

  .title{
    font-size: clamp(6rem, 5vw, 7rem);
    font-weight: 600;
    /* transform: skewX(-8deg); */
    /* text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; */
  }

  .desc{
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    max-width: 550px;
    text-align: center;
  }
  

/* CSS */
.btn{
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgb(249,250,251);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: none;
}